* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Disable the blue clicking effect */
button:focus,
button:active,
a:focus,
a:active,
div {
  -webkit-tap-highlight-color: transparent !important;
}
.container {
  margin: 0 auto;
  padding: 0px 16px;
  max-width: 1200px;
}
body {
  height: 100%;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background: #141e30c0 !important;
  background: -webkit-linear-gradient(to right, #243b55ab, #141e30ab) !important;
  background: linear-gradient(to right, #243b55ab, #141e30ab) !important;
}
body > h1.hidden-title-forever,
body > h2.hidden-title-forever {
  margin: 0px !important;
  padding: 0px !important;
  display: none !important;
  font-size: 0px !important;
  font-weight: 100 !important;
  overflow: hidden !important;
  transform: scale(0) !important;
}
#google_translate_element > .skiptranslate.goog-te-gadget {
  width: max-content !important;
}
#google_translate_element > .skiptranslate.goog-te-gadget .goog-te-gadget-simple,
#google_translate_element > .skiptranslate.goog-te-gadget .goog-te-gadget-simple span,
#google_translate_element > .skiptranslate.goog-te-gadget .goog-te-gadget-simple span a {
  display: flex !important;
}
#google_translate_element > .skiptranslate.goog-te-gadget .goog-te-gadget-simple {
  padding: 0px !important;
  background: transparent !important;
  border: none !important;
  color: #f1f1f1 !important;
  font-size: 15px !important;
}
#google_translate_element > .skiptranslate.goog-te-gadget .goog-te-gadget-simple img {
  display: none !important;
  overflow: hidden !important;
  scale: 0 !important;
}
body > div.skiptranslate:not(.goog-te-gadget) {
  margin: 0 !important;
  padding: 0 !important;
  width: 0 !important;
  height: 0 !important;
  display: none !important;
  overflow: hidden !important;
  transform: none !important;
  transition: none !important;
  scale: 0 !important;
}
body {
  position: static !important;
  top: 0 !important;
}
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #141e30c0; 
}
::-webkit-scrollbar-thumb:hover {
  background: #141e30d2; 
}